<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/dashboard-style.css">

</head>
<body>
    <div class="container">
        <aside>
            <div class="avatar-cont">
                <div class="avatar"></div>
            </div>
            <div class="sidebar">
                <div class="options">
                    <ul>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.5 8.25C15.5398 8.25 8.25 15.5398 8.25 24.5C8.25 33.4602 15.5398 40.75 24.5 40.75C33.4602 40.75 40.75 33.4602 40.75 24.5C40.75 15.5398 33.4602 8.25 24.5 8.25ZM24.5 11.5C29.7211 11.5 34.2207 14.6005 36.2877 19.053C35.7858 18.8154 35.2999 18.5451 34.8334 18.2437C34.1687 17.8245 33.4148 17.3484 32.4609 16.9892C31.3738 16.5749 30.1859 16.375 28.8306 16.375C27.4754 16.375 26.2875 16.5749 25.2004 16.9876C24.2465 17.35 23.4925 17.8261 22.8084 18.2567C22.1941 18.6419 21.666 18.9766 21.016 19.222C20.2912 19.4966 19.5047 19.625 18.5362 19.625C17.5694 19.625 16.7829 19.4966 16.0598 19.222C15.4098 18.9766 14.8767 18.6403 14.2625 18.2503C14.0009 18.0861 13.71 17.9123 13.4175 17.7416C15.7039 14.0058 19.8086 11.5 24.5 11.5ZM24.5 37.5C17.3321 37.5 11.5 31.6679 11.5 24.5C11.5 23.1837 11.6999 21.9163 12.0655 20.7186C12.2183 20.8129 12.3661 20.8974 12.5254 20.9997C13.1933 21.4222 13.9489 21.9 14.9076 22.2607C15.9948 22.6751 17.181 22.875 18.5362 22.875C19.8899 22.875 21.0777 22.6751 22.1681 22.2624C23.122 21.9 23.876 21.4239 24.5601 20.9933C25.1744 20.6081 25.7025 20.2734 26.3525 20.0264C27.0756 19.7534 27.8621 19.625 28.8306 19.625C29.7991 19.625 30.5856 19.7534 31.3088 20.028C31.9571 20.2718 32.4869 20.6065 33.119 21.0063C33.7836 21.4255 34.5376 21.9016 35.4915 22.2624C36.0814 22.4866 36.707 22.6345 37.3651 22.7352C37.4447 23.3154 37.5 23.9004 37.5 24.5C37.5 31.6679 31.6679 37.5 24.5 37.5V37.5Z" />
                            <path d="M18.8125 29.375C20.1587 29.375 21.25 28.2837 21.25 26.9375C21.25 25.5913 20.1587 24.5 18.8125 24.5C17.4663 24.5 16.375 25.5913 16.375 26.9375C16.375 28.2837 17.4663 29.375 18.8125 29.375Z" />
                            <path d="M30.1875 29.375C31.5337 29.375 32.625 28.2837 32.625 26.9375C32.625 25.5913 31.5337 24.5 30.1875 24.5C28.8413 24.5 27.75 25.5913 27.75 26.9375C27.75 28.2837 28.8413 29.375 30.1875 29.375Z" />
                            </svg>
                            </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.25 22.875C34.25 21.3166 33.145 20.0134 31.6809 19.6997C32.2659 18.7231 32.625 17.5938 32.625 16.375C32.625 12.7902 29.7098 9.875 26.125 9.875C23.6599 9.875 21.5409 11.2676 20.4375 13.294C19.3341 11.2676 17.2151 9.875 14.75 9.875C11.1652 9.875 8.25 12.7902 8.25 16.375C8.25 17.8408 8.757 19.1814 9.57762 20.2685C9.16746 20.5684 8.83358 20.9606 8.60295 21.4134C8.37233 21.8662 8.25142 22.3669 8.25 22.875V35.875C8.25 37.6674 9.70762 39.125 11.5 39.125H31C32.7924 39.125 34.25 37.6674 34.25 35.875V31.5882L40.75 34.8382V23.4633L34.25 26.7133V22.875ZM26.125 13.125C27.9174 13.125 29.375 14.5826 29.375 16.375C29.375 18.1674 27.9174 19.625 26.125 19.625C24.3326 19.625 22.875 18.1674 22.875 16.375C22.875 14.5826 24.3326 13.125 26.125 13.125ZM14.75 13.125C16.5424 13.125 18 14.5826 18 16.375C18 18.1674 16.5424 19.625 14.75 19.625C12.9576 19.625 11.5 18.1674 11.5 16.375C11.5 14.5826 12.9576 13.125 14.75 13.125ZM11.5 35.875V22.875H31L31.0033 35.875H11.5Z" />
                            </svg>
                            </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.375 22.875H19.625V26.125H16.375V22.875ZM16.375 29.375H19.625V32.625H16.375V29.375ZM22.875 22.875H26.125V26.125H22.875V22.875ZM22.875 29.375H26.125V32.625H22.875V29.375ZM29.375 22.875H32.625V26.125H29.375V22.875ZM29.375 29.375H32.625V32.625H29.375V29.375Z" />
                            <path d="M13.125 40.75H35.875C37.6674 40.75 39.125 39.2924 39.125 37.5V14.75C39.125 12.9576 37.6674 11.5 35.875 11.5H32.625V8.25H29.375V11.5H19.625V8.25H16.375V11.5H13.125C11.3326 11.5 9.875 12.9576 9.875 14.75V37.5C9.875 39.2924 11.3326 40.75 13.125 40.75ZM35.875 18L35.8766 37.5H13.125V18H35.875Z" />
                            </svg>
                            </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.1875 28.5625C14.62 28.5625 12.4701 30.285 11.7649 32.625H8.25V35.875H11.7649C12.4701 38.215 14.62 39.9375 17.1875 39.9375C19.755 39.9375 21.9049 38.215 22.6101 35.875H40.75V32.625H22.6101C21.9049 30.285 19.755 28.5625 17.1875 28.5625ZM17.1875 36.6875C15.8436 36.6875 14.75 35.5939 14.75 34.25C14.75 32.9061 15.8436 31.8125 17.1875 31.8125C18.5314 31.8125 19.625 32.9061 19.625 34.25C19.625 35.5939 18.5314 36.6875 17.1875 36.6875ZM31.8125 18.8125C29.245 18.8125 27.0951 20.535 26.3899 22.875H8.25V26.125H26.3899C27.0951 28.465 29.245 30.1875 31.8125 30.1875C34.38 30.1875 36.5299 28.465 37.2351 26.125H40.75V22.875H37.2351C36.5299 20.535 34.38 18.8125 31.8125 18.8125ZM31.8125 26.9375C30.4686 26.9375 29.375 25.8439 29.375 24.5C29.375 23.1561 30.4686 22.0625 31.8125 22.0625C33.1564 22.0625 34.25 23.1561 34.25 24.5C34.25 25.8439 33.1564 26.9375 31.8125 26.9375Z"/>
                            <path d="M25.8601 13.125C25.1549 10.785 23.005 9.0625 20.4375 9.0625C17.87 9.0625 15.7201 10.785 15.0149 13.125H8.25V16.375H15.0149C15.7201 18.715 17.87 20.4375 20.4375 20.4375C23.005 20.4375 25.1549 18.715 25.8601 16.375H40.9531V13.125H25.8601ZM20.4375 17.1875C19.0936 17.1875 18 16.0939 18 14.75C18 13.4061 19.0936 12.3125 20.4375 12.3125C21.7814 12.3125 22.875 13.4061 22.875 14.75C22.875 16.0939 21.7814 17.1875 20.4375 17.1875Z"/>
                            </svg>
                            </li>
                    </ul>
                </div>
            </div>
        </aside>
    
        <div class="seperator"></div>
        
        <main>
            <div class="meetings">

                <h1>Meetings</h1>
                <div class="meeting-btn-wrapper">
                    <a class="new-meeting-btn meeting-btn" href="/create-new-meeting">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.625 15H16.875V20.625H11.25V24.375H16.875V30H20.625V24.375H26.25V20.625H20.625V15Z"/>
                            <path d="M33.75 13.125C33.75 11.0569 32.0681 9.375 30 9.375H7.5C5.43187 9.375 3.75 11.0569 3.75 13.125V31.875C3.75 33.9431 5.43187 35.625 7.5 35.625H30C32.0681 35.625 33.75 33.9431 33.75 31.875V25.6256L41.25 31.875V13.125L33.75 19.3744V13.125ZM30.0019 31.875H7.5V13.125H30V22.5L30.0019 31.875Z"/>
                            </svg>                        
                        Create a new meeting
                    </a>
                    <a href="#" class="existing-meeting-btn meeting-btn">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.75 13.125C33.75 11.0569 32.0681 9.375 30 9.375H7.5C5.43187 9.375 3.75 11.0569 3.75 13.125V31.875C3.75 33.9431 5.43187 35.625 7.5 35.625H30C32.0681 35.625 33.75 33.9431 33.75 31.875V25.6256L41.25 31.875V13.125L33.75 19.3744V13.125ZM30.0038 31.875H7.5V13.125H30L30.0019 22.4981L30 22.5L30.0019 22.5019L30.0038 31.875Z"/>
                            </svg>
                        Join a existing meeting
                    </a>
                </div>
                <div class="history-wrapper">
                    <h3>History</h3>
                    <div class="history">
                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.5 17.1667V27.5834H35.9167V23.4167H29.6667V17.1667H25.5Z"/>
                            <path d="M44.8587 18.2021C43.9189 15.973 42.5547 13.9479 40.842 12.2396C38.2494 9.64698 34.9539 7.87102 31.3628 7.13122C28.8703 6.6239 26.3012 6.6239 23.8087 7.13122C20.2142 7.8663 16.9159 9.64372 14.3253 12.2416C12.6168 13.9518 11.2531 15.9747 10.3087 18.2C9.3318 20.5096 8.83016 22.9923 8.83366 25.5L8.83574 25.5521H4.66699L10.917 33.8333L17.167 25.5521H13.0024L13.0003 25.5C12.9943 22.5945 13.8617 19.7543 15.4899 17.3479C16.5402 15.7951 17.8773 14.4573 19.4295 13.4062C21.0085 12.3425 22.7797 11.5966 24.6441 11.2104C28.4327 10.4314 32.3756 11.1888 35.606 13.316C38.8364 15.4431 41.0899 18.766 41.8712 22.5541C42.2641 24.4956 42.2641 26.496 41.8712 28.4375C41.49 30.3034 40.7437 32.0755 39.6753 33.6521C39.1545 34.425 38.5566 35.1521 37.8962 35.8104C36.5653 37.1396 34.9917 38.2012 33.2607 38.9375C32.3791 39.3101 31.4629 39.5949 30.5253 39.7875C28.5846 40.1802 26.5848 40.1802 24.6441 39.7875C22.7801 39.4053 21.0096 38.6599 19.4337 37.5937C18.6586 37.07 17.9351 36.4735 17.2732 35.8125L14.3274 38.7583C16.0673 40.5005 18.1337 41.8824 20.4084 42.8247C22.6832 43.7671 25.1215 44.2514 27.5837 44.25C30.09 44.249 32.571 43.7482 34.8816 42.7771C38.2308 41.36 41.0962 39.0005 43.1295 35.9854C45.2221 32.8893 46.3383 29.2369 46.3337 25.5C46.3389 22.9928 45.8372 20.5104 44.8587 18.2021Z"/>
                            </svg>
                            
                        <span>recent meetings will show up here</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>