<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zap!t</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div class="flex-row top-nav">
            <a class="logo" href="#">Zap!t</a>

            <div class="header-btns">
                <a class="btn border-radius sign-up-btn" href="/sign-up">Sign up</a>
            <a class="btn log-in-btn" href="/log-in">Log in</a>
            </div>
            
        </div>
    </header>
    <main>
        <div class="flex-row hero-section">
            <div class="hero-col-one">
                <h1 class="hero-heading">We make your meetings more efficient</h1>
            <p>zapit is a meeting platform designed to enhance your video confering experience and save your time</p>
            <a class="border-radius get-started-btn" href="/sign-up">Get started<svg class="arrow-svg" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.35113 19.6011L11.6489 21.8988L22.5477 10.9999L11.6489 0.101074L9.35113 2.39882L16.3273 9.37495H0.75V12.6249H16.3273L9.35113 19.6011Z" fill="#2D3B41"/>
                </svg>
                </a>
            </div>
                <img class="hero-img" src="assets/hero-image.png" alt="">
        </div>
    </main>
    <section>
        <div class="features">
            <h1 class="feature-h1">Features</h1>
            <div class="flex-row feature timed-meetings">
                <div class="feature-text">
                    <h3>Timed meetings</h3>
                    <p>Hosts are required to set a time 
                        limit before a meeting can happen . 
                        But dont worry participants can 
                        extend the meeting by voting for it 
                    </p>
    
                </div>
                <div class="feature-img">
                    <img class="feature-img" src="assets/timed-meetings.svg" alt="">
                </div>
            </div>
            <div class="flex-row feature transcripts">
                <div class="feature-text">
                    <h3>Transcripts</h3>
                    <p>Access full video transcripts anytime from 
                        any meetings happened in last 60 days .
                        ** This feature is currently under developement</p>
                </div>
                <div class="feature-img">
                    <img src="assets/transcripts.svg" alt="">
                </div>
            </div>
            <div class="flex-row feature team-calender">
                <div class="feature-text">
                        <h3>
                            Team Calender
                        </h3>
                        <p>
                            Mark certain days as no-meeting days 
                            , hosts can see the calender when scheduling 
                            a meeting .
                        </p>
                </div >
                        <div class="feature-img">
                            <img  src="assets/team-calender.svg" alt="">
                        </div>
            </div>
            <div class="flex-row feature-cta">
                <span class="cta-txt">Try now </span><a class="btn sign-up-now-btn" href="/sign-up">Sign up now <svg class="arrow-svg s-arrow" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.35113 19.6011L11.6489 21.8988L22.5477 10.9999L11.6489 0.101074L9.35113 2.39882L16.3273 9.37495H0.75V12.6249H16.3273L9.35113 19.6011Z"/>
                    </svg></a>
            </div>
        </div>
    </section>
    <footer>
        <div class="logo-group">
            <a class="logo" href="#">Zap!t</a>
            <p>
                The productivity focused meeting platform
            </p>
        </div>
        <div class="flex-row footer-links">
            <div class="account">
                <span class="footer-span">Account</span>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
            <div class="support">
                <span class="footer-span">Support</span>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>