<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.6.11.js"></script>

    <title>Zap!t</title>

    <style>
        .loginfail {
  padding: 0.5em 1em;
  background-color: var(--clr-call-end);
  
}
    </style>
</head>
<body>
    <header>
        <div class="flex-row top-nav">
            <a class="logo" href="#">Zap!t</a>
            
        </div>
    </header>
    <main class="form-main">
        
        <form class="log-in-form" method="post" action="/log-in">
            <span class="loginfail">
                Failed to login , check credentials
            </span>
            <label for="email">Email</label>
            <input name="email" id="email" type="email">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
            <div class="log-in-btn-wrapper">
                <button type="submit" class="log-in-button">Log in</button>
                <div class="form-seperator"></div>
                <a class="create-acc-link" href="/sign-up">Create a new account</a>
            </div>
        </form>
    </main>
</body>

</html>